<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ServletLogin">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="mysql-connector-java-5.1.38-bin.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/C:/Program Files/Apache Software Foundation/Tomcat 8.0/lib/mysql-connector-java-5.1.38/mysql-connector-java-5.1.38-bin.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="ServletLogin"/>
        <property name="java-output-path" value="/ServletLogin/build/classes"/>
    </wb-module>
</project-modules>
